html,body{
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;

}

h1,h3{
    color: #004785;
    font-family: 'Roboto', sans-serif;
}



p,a{
    font-family: 'Quicksand', sans-serif;
    color: #383838;
    font-size: 18px;
}

a{
    text-decoration: none;
}


.ima {
    width: 100%;
    height: 100vh;
    max-height: 900px;
    background-size: cover;
}

/* Navigation bar*/
.container-nav{
    display: flex;
    position: fixed;
    background-color: white;
    flex-flow: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    max-height: 5rem;
    opacity: 70%;
    z-index: 3;

}

.item-nav{
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: baseline;
    font-family: 'Quicksand', sans-serif;



}
/*END Navigation Bar*/

/*Middle 1 & 2*/
.middle{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.right{
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    width: 30%;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    /*
    align-items: end;
    text-align: end ;  */
}

.left{
    padding-top: 0;
    width: 65%;
    justify-content: center;
    align-items: center;

}

/* Join */
.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}
.card {
    background-color: #dcedff;
    color: #383838;
    padding: 1rem;
    height: 7rem;
    border-radius: 25px;
    text-align: center;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .grid { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .grid { grid-template-columns: repeat(3, 1fr); }
}

/*END OF JOIN*/







.flex-container{
    background-color: #C6E5FA;
    color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em 0 0.5em 0;
    justify-content: center;
    opacity: 70%;

}

.flex-item{

    text-align: center;

    line-height: 2em;
    margin: 0 5em 0 5em;

}


.mid{
    padding: 1rem;
}